<div id="userMainDiv">
    <div id="search">
        <input placeholder="Search" type="text" name="search" #src (keyup)="search(src.value)" (click)="search(src.value)">
        <input type="button" value="Search">
        <input type="button" [value]="addUserPresd?  'Back' : 'Add' " (click)="addUserPresd = !addUserPresd">
    </div>
    <!--Add User-->
    <div id="addUserDIV" *ngIf="addUserPresd">
        <app-add-user></app-add-user>
    </div>
    <!--All Users And thier data-->
    <div id="userDiv">
        <div div="userData" *ngIf="!addUserPresd">
            <app-user *ngFor="let user of searchUsers" [user]="user"></app-user>
        </div>
    </div>
</div>